@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'bouldBold';
    font-weight: 700;

    src: url('../font/Bould-Bold.ttf');
  }

  @font-face {
    font-family: 'bouldSemiBold';
    font-weight: 600;

    src: url('../font/Bould-SemiBold.ttf');
  }

  @font-face {
    font-family: 'bouldReg';
    font-weight: 400;

    src: url('../font/Bould-Regular.ttf');
  }

  @font-face {
    font-family: 'bouldMedium';
    font-weight: 500;

    src: url('../font/Bould-Medium.ttf');
  }

  @font-face {
    font-family: 'bouldLight';
    font-weight: 300;

    src: url('../font/Bould-Light.ttf');
  }
}
